*{
	padding: 0;
	margin: 0;
}
body{
	height: 100%;
	width: 100%;
	background-color: #E6E6E6;
	position: absolute;
}

h1 {
	text-align: center;
	font-family: monospace;
	font-size: 3em;
}

.container{
	width: 1008px;
	margin: 0 auto;
	height: 100%;
	position: relative;
	background-color: #02B9DA;
}
.row{
	display: block;
	height: 20px;
}

#canvas{
	overflow: hidden;
}

#palette{
	border: 2px solid gray;
	background-color: #CCCCCC;
	height: 12%;
	width: 99.7%;
}

.cell {
	box-sizing: border-box;
	display: inline-block;
	color: white;
	width: 20px;
	height: 20px;
	border: 1px solid #FBFBFB;
}