*{
	padding: 0;
	margin: 0;
}
body{
	height: 100%;
	width: 100%;
	background-color: #4D4D4D;
	position: absolute;
}

h1 {
	text-align: center;
	font-family: monospace;
	font-size: 3em;
	color: white;
}

.container{
	width: 1000px;
	margin: 0 auto;
	line-height: 0;
	height: 100%;
	position: relative;
	
}
.row{
	display: block;
	height: 20px;
}

#canvas{
	background-color: #CCCCCC;
}

#palette{
	border: 2px solid gray;
	background-color: #CCCCCC;
	height: 12%;
	width: 99.7%;
}

.cell {
	box-sizing: border-box;
	display: inline-block;
	color: white;
	width: 20px;
	height: 20px;
	border: 1px solid #C9C9C9;
}